---
name: XXX
menu: YYY
route: /yyy/xxx
---

import { Playground } from "docz";

import { AsProp, SimplePropsTable, mapEnumerable, refDoc } from "src/__docs__";
import { DEFAULTS } from "src/base/helpers/variables";

# XXX

## API

<SimplePropsTable
  props={{
    as: AsProp.makeDoc(XXX.defaultProps.as),
    ref: refDoc
  }}
/>

<AsProp component={XXX} componentName="XXX" />
